body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }

  .top-container-name{
    font-family: 'Impact', fantasy;
    font-size: 70px;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);

  }
  
  .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }